root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{cs,csproj,props,targets,json,md,yml,yaml}]
indent_style = space
indent_size = 4

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_prefer_simple_using_statement = true:suggestion
csharp_style_prefer_braces = true:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_prefer_collection_expression = true:suggestion
